# Xcode
*.xcuserstate
*.xcworkspacedata
xcuserdata/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary files
*.swp
*.lock
*~.nib
